.container {
    width: 100%;
    padding: 1%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: solid 1px black;
}
.navigationitem {
    margin: 1%;
}

.navigationtitle {
    margin-bottom: 3px;
}