fieldset {
    width: 450px;
    margin: auto;
    margin-bottom: 15px;
}
fieldset .p {
    clear: both;
    padding: 10px;
}
.formlabel {
    text-align: left;
    width: 120px;
    float: left;
}
.text {
    width: 300px;
    float: left;
}
.checkbox {
    float: left;
}