table {
    border-collapse: collapse;
    border: 1px solid #88209B;
    margin: 40px auto 15px auto;
}

.table {
    max-width: auto;
    text-align: center;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

th, td {
    text-align: center;
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: top;
    border-bottom: 1px solid #808080;
    min-width: 75px;
}

th {
    background-color: #d7d7d7;
    color: #88209B;
    font-weight: 700;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tr:nth-child(even) {
    background-color: #ffffff;
    color: #000000;
}

tr:nth-child(odd) {
    background-color: #ebebeb;
    color: #88209B;
    font-weight: 500;
}

.smalltext {
    font-size: 12px;
}

.buttonform {
    font-size: 12px;
}